@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sono&display=swap');

* {
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 25px;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1{
    padding: 0px;
    font-weight: 
}

main {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}
.winnersection{

}
#playerscounter{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 15px 15px 15px;
}
#buttonarea {
    padding: 0px 0px 20px 0px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-template-rows: repeat(3, 2fr);
    
}

.cell {
    background-color: blueviolet;
    height: 150px;
    max-width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(3n+2) { 
    border-right: 5px solid black;
    border-left: 5px solid black;
    
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}



/* could come back and fix by removing padding/margin when on cell phone - @ */